@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --header-text: 'Montserrat', sans-serif;
    --normal-text: 'Open Sans', sans-serif;
    --p-size: 14px;
    --colortext: orange;
    --section-backgroung: rgb(37, 37, 37);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(17, 17, 17);
    padding: 25px;
}

/************** Home page ****************/
.profile_img_cont {
    position: fixed;
    width: calc(30% - 25px);
    height: calc(100vh - 50px);
}

.profileImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right_content {
    position: fixed;
    right: 25px;
    width: calc(70% - 50px);
    height: calc(100% - 50px);
}

.sections {
    position: absolute;
    width: calc(50% - 12.5px);
    height: calc(50% - 12.5px);
    font-family: var(--header-text);
    background-color: var(--section-backgroung);
    cursor: pointer;
    transition: all 0.5s ease;
}

.sectionH {
    position: relative;
    top: 40%;
    display: flex;
    justify-content: center;
    color: white;
}

.section1 {
    top: 0;
    left: 0;
}

.section2 {
    top: 0;
    right: 0;
}

.section3 {
    left: 0;
    bottom: 0;
}

.section4 {
    right: 0;
    bottom: 0;
}

.intro {
    background-color: transparent;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: focus-in-expand 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/*animation focus-in-expand*/
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.colortext {
    color: var(--colortext);
    transition: all 0.3s ease;
}

.nav {
    transition: all 0.3s ease;
}

.sections:hover .nav {
    color: var(--colortext);
}

.sections:hover .nav .colortext {
    color: white;
}

.typing {
    display: inline-block;
    font-weight: bold;
    color: var(--colortext);
    border-right: 0.15em solid var(--colortext);
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s steps(19) 2s infinite, blink 0.75s step-end infinite;
}

@keyframes typing {
    0% {
        width: 0;
        /* Start from 0 width */
    }

    30% {
        width: 100%;
        /* Fully reveal the text */
    }

    70% {
        width: 100%;
        /* Keep it visible for a while before erasing */
    }

    100% {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/************** Opening section and hiding content ****************/
.openSection {
    width: 100% !important;
    height: 100% !important;
    color: white;
    overflow-y: auto;
    cursor: default;
    z-index: 100; 
}

.hide-content {
    display: none;
    transition: opacity 0.3s ease;
}

/************** About ****************/

.about-content, .contact-content, .portfolio-content {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.about-content.show, .contact-content.show, .portfolio-content.show {
    opacity: 1;
}

.aboutPage, .contactPage, .portfolioPage {
    padding: 25px;
}

.close-aboutIcon, .close-contactIcon, .close-portfolioIcon {
    position: fixed;
    right: 45px;
    top: 35px;
    z-index: 1000;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.56);
    color: rgb(152, 152, 152);
    padding: 5px;
    cursor: pointer;
}
.close-portfolioIcon {
    right: 60px;
}

.aboutHeader, .contactHeader, .portfolioHeader {
    font-family: var(--header-text);
}

.addressCard, .addressBook, .briefCase {
    font-size: 20px;
    text-align: center;
}

.l1,
.l2 {
    position: relative;
    width: 45%;
    height: 1px;
    background-color: var(--colortext);
}

.l1 {
    right: 0;
    bottom: -2px;
}

.l2 {
    right: -55%;
}

.font {
    font-family: var(--header-text);
}

.paragraph {
    font-size: var(--p-size);
    font-family: var(--normal-text);
    text-align: justify;
}

strong {
    color: var(--colortext);
}

.miniHeader {
    background-color: rgb(23, 23, 23);
    border: 1px solid rgb(78, 78, 78);
    text-align: center;
    padding: 10px;
    color: var(--colortext);
}

.plus {
    color: var(--colortext);
    font-weight: bold;
    font-size: 40px;
}

.plus2 {
    font-weight: bold;
    font-size: 20px;
    font-family: var(--header-text);
}

.plus0 {
    font-size: 40px;
    margin-bottom: 15px;
    color: rgb(167, 167, 167);
}
.about-profile_img_cont {
    opacity: 0;
    display: none;
}
/************** Portfolio ****************/
.scroll {
    background-color: rgba(8, 8, 8, 0.63);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: fixed;
    top: 25px;
    right: 100px;
    z-index: 100;
}
.projectScroll {
    font-family: var(--normal-text);
    font-size: var(--p-size);
    padding: 5px 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #2c2c2c;
    border: none;
    transition: all 0.3s ease;
}
.projectScroll:hover {
    color: orange;
}

.reactHead, .jsHead, .cssHead {
    color: var(--colortext);
    font-family: var(--header-text);
    font-weight: bold;
}
.react_sub_head, .card-text, .js_project_sub, .css_project_sub {
    font-size: var(--p-size);
    font-family: var(--normal-text);
    color: white;
    text-align: justify;
}
.card {
    background-color: #2c2c2c;
    border:1px solid #444;
}
.card-title {
    font-family: var(--header-text);
    font-size: 16px;
    font-weight: bold;
    color: orange;
}
.project_btn {
    text-decoration: none;
    font-weight: bold;
    font-size: var(--p-size);
    font-family: var(--normal-text);
    padding: 5px 15px;
    margin: 5px;
}
.view_btn {
    background-color: var(--colortext);
    color: white;
    margin-right: 10px;
}
.code_btn {
    background-color: transparent;
    border: 3px solid var(--colortext);
    color: var(--colortext);
}
.jslines, .csslines {
    background-color: var(--colortext);
    height: 1px;
    width: 100%;
}

/************** Contacts ****************/
.subHead {
    font-size: var(--p-size);
    font-family: var(--normal-text);
}
.contactLink {
    text-decoration: none;
    color: rgb(172, 172, 255);
    font-size: var(--p-size);
    font-family: var(--normal-text);
}
.leftContact-bg {
    background-color: rgb(17, 17, 17);
    padding: 15px;
    border: 1px solid rgb(78, 78, 78);
    overflow-wrap: break-word;
}
.fa-linkedin {
    color: rgb(68, 68, 255);
}
.fa-github {
    color: rgb(229, 229, 229);
}
.contact_form input, .contact_form textarea {
    background-color: transparent !important;
    color: white;
    border-color: rgb(91, 91, 91);
}
.contact_form input:focus, .contact_form textarea:focus {
    background-color: transparent !important;
    color: white !important;
    outline: none;
    box-shadow: none;
    border-color: var(--colortext);
}
.contact_form input:-webkit-autofill:hover {
    background-color: transparent;
}
.contact_form input::placeholder, .contact_form textarea::placeholder {
    color: rgb(98, 98, 98);
    font-size: 13px;
}
.form-label {
    font-size: var(--p-size);
    font-family: var(--normal-text);
}
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  background-color: transparent !important;
  color: white !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 9999s ease-in-out 0s !important;
}
.contactBtn {
    background-color: var(--colortext);
    padding: 10px 20px;
    width: 60%;
    color: white;
    border: none;
    font-weight: bold;
    font-family: var(--normal-text);
    margin-top: 20px;
    transition: all 0.3s ease;
}
.contactBtn:hover {
    background-color: rgb(255, 186, 57);
}
.contactBtn:active {
    background-color: rgba(255, 166, 0, 0.437);
}

/************** Media query ****************/
@media (max-width: 1100px) {
    .myName {
        font-size: 25px;
    }
    .typing {
        font-size: 20px;
    }
}
@media (max-width: 999px) {
    .profile_img_cont {
        opacity: 0;
    }
    .right_content {
        width: calc(100% - 50px);
    }
    .about-profile_img_cont {
        display: block;
        opacity: 1;
        position: absolute;
        top: 170px;
        width: calc(50% - 25px);
        height: 470px;
        background-color: antiquewhite;
    }
    .aboutprofileImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
    .mediaRow {
        width: 50%;
        position: relative;
        right: calc(-50% - 25px);
    }
}
@media (max-width: 850px) {
    .about-profile_img_cont {
        height: 550px;
    }
}
@media (max-width: 767.5px) {
    body {
        padding: 5px;
    }
    .openSection {
        top: 0 !important;
    }
    .sections {
        width: 100%;
        height: calc(20% - 6.25px);
    }
    .section1 {
        top: 0;
        height: calc(40% - 37.5px);
    }
    
    .section2 {
        top: calc(40% - 6.25px);
    }
    
    .section3 {
        bottom: calc(20% + 6.25px);
    }
    
    .section4 {
        bottom: 0;
    }
    .sections:hover .nav {
        color: inherit;
    }
    
    .sections:hover .nav .colortext {
        color: inherit;
    }
    .aboutPage, .contactPage, .portfolioPage {
        padding: 5px;
    }
    .about-profile_img_cont {
        height: 550px;
        width: 50%;
    }
    .close-portfolioIcon {
        right: 35px;
    }
    .scroll {
        top: 2px;
        right: 70px;
        padding: 5px;
    }
    .projectScroll {
        padding: 5px 10px;
    }
    .contactBtn {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .about-profile_img_cont {
        width: 98%;
    }
    .mediaRow {
        width: calc(100% + 25px);
        right: 0;
    }
    .firstrow {
        padding-top: 620px;
    }
}


